{% extends 'base.html.twig' %}
{% block content %}
    <img src="{{ asset("build/couleur.jpg") }}" class="color-line" alt="couleur">
    <h1 class="default-title">Bienvenue sur mon blog {{ app.user.firstname ?? '' }} !</h1>

<div class="five-last-articles">
    <h2>Last article's</h2>
    {% for article in lastArticles %}
        <div class="card" style="width: 18rem;">
            <img src="https://picsum.photos/200/200" class="card-img-top" alt="image-aleatoire">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text">{{ article.content }}</p>
                <p>{{ article.author.firstname ?? ''}}</p>
                <p>{{ article.createdAt.date ?? ''}}</p>
                <p>article's id : {{ article.id }}</p>
<div class="tag-link">
                {% for tag in article.tags %}

               <a class="tag-link" href="{{ path('tag',{'name': tag.name}) }}">#{{ tag.name }}</a>
                {% endfor %}
</div>

            </div>
             <a href="{{ path('article_show', {'id': article.id}) }}"><button class="btn btn-dark "> show</button></a>
            {% if is_granted('ROLE_AUTHOR') and app.user.id == (article.author.id ?? '') or is_granted('ROLE_ADMIN') %}
                 <a  href="{{ path('article_edit', {'id': article.id}) }}"><button class="btn btn-dark "> edit</button></a>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}



