{% extends 'base.html.twig' %}
{% block content %}
    <img src="{{ asset("build/couleur.jpg") }}" class="color-line" alt="couleur">

    <h1 class="default-title">
    {% if app.user %}
    {% trans with {'%username%': app.user.email} %}
        hello_username
    {% endtrans %}
    {% endif %}
    </h1>


    <h2 style="margin-top: 80px;">Last article's :</h2>
    <div class="five-last-articles">

        {% for article in lastArticles %}



            <div class="card" style="width: 18rem;">
                <img src="http://lorempixel.com/200/200" class="card-img-top" alt="image-aleatoire">

                <div class="card-body">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <div>
                        <a class="article" id="{{ article.id }}">
                            <i class="{{ app.user.isFavorite(article) ? 'fas' : 'far' }} fa-heart fa-3x"
                               id="favorite_{{ article.id }}"></i>
                        </a>
                    </div>
                    {% endif %}
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.content }}</p>
                    <p>{{ article.author.firstname ?? '' }}</p>
                    <p>{{ article.createdAt.date ?? '' }}</p>
                    <p>article's id : {{ article.id }}</p>
                    <p>{{ article.category.name }}</p>
                    <div class="tag-link">
                        {% for tag in article.tags %}
                            <a class="tag-link" href="{{ path('tag',{'name': tag.name}) }}">#{{ tag.name }}</a>
                        {% endfor %}
                    </div>

                </div>
                <a href="{{ path('article_show', {'id': article.id}) }}">
                    <button class="btn btn-dark "> show</button>
                </a>
                {% if is_granted('ROLE_AUTHOR') and app.user.id == (article.author.id ?? '') or is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('article_edit', {'id': article.id}) }}">
                        <button class="btn btn-dark "> edit</button>
                    </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% if app.user %}
        <h2>My favorite articles :</h2><br>
        <div class="favorite">

        {% for favorite in app.user.favorite %}
            <div class="card " style="width: 18rem;">
                <img src="http://lorempixel.com/200/200" class="card-img-top" alt="Une image au hazard">
                <div class="card-body">

                    <h5 class="card-title">{{ favorite.title }}</h5>
                    <p class="card-text">{{ favorite.content }}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}



