{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <h1>{{ app.session.get('total') }}</h1>
    <h1>Article index</h1>
    {% if app.user.email is defined %}
        <a href="{{ path('article_new') }}"><button class="btn btn-dark">Create new</button></a>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Title</th>
                <th>Category</th>
                <th>Tags</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% for article in articles %}

            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.category.name }}</td>

                <td>
                    {% for tag in article.tags %}
                    {{ tag.name }}
                    {% endfor %}
                </td>

                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}">show</a>
                    {% if is_granted('ROLE_AUTHOR') and app.user.id == (article.author.id ?? '') or is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
