<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('app_index') }}">Mon blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('article_index') }}">{{ 'menu.article'|trans }}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'menu.tag'|trans }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('add_tag') }}">Add new tag</a>
                    {% for tag in tags %}
                        <a class="dropdown-item" href="{{ path('tag',{'name':tag.name}) }}">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'menu.categorie'|trans }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{{ path('category_add') }}">Add new category</a>
                    <a class="dropdown-item" href="{{ path('categories_show') }}">All</a>
                    {% for category in categories %}
                        <a class="dropdown-item"
                           href="{{ path('category_show',{'id':category.id}) }}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'menu.laguage'|trans }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/fr">French</a>
                    <a class="dropdown-item" href="/en">English</a>
                    <a class="dropdown-item" href="/es">Spanish</a>
                </div>
            </li>
        </ul>
    </div>
    {% if app.user.email is not defined %}
        <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
            {{ 'account.login'|trans }}
        </button>
    {% endif %}
    {% if app.user.email is defined %}
        <a href="{{ path('app_logout') }}">
            <button type="button" class="btn btn-dark">{{ 'account.logout'|trans }}</button>
        </a>
    {% endif %}
</nav>
